.about-container {
  min-height: 100vh;
  margin: 30px 0 0 0;
}

.about-section {
  margin: 0 0 10% 0;
}

.about-title {

}

.about-paragraphe {

}

.about-person-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.about-person-picture {
  margin: auto;
  width: 150px;
  border-radius: 180px;
  
}
.about-person-name {
  margin: auto;
  
}
.about-person-role {
  margin: auto;

}
