.user-causes-list-container {
  width: 100%;
  min-width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-cause-display {
  width: 100%;
  display: flex;
  border: 1px solid lightgrey;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  transform: perspective(1px) translateZ(0);
  transition-property: box-shadow, transform;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.user-cause-logo-container {
  max-height: 180px;
  height: 180px;
  max-width: 220px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 10px 0 0;
}

.user-cause-text {
  font-family: "Roboto",sans-serif;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0px;
  margin: 0;
}

.user-cause-right-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
}

.user-cause-delete-button {
  position: relative;
  margin: auto;
  padding: 0 0 0 0;
  width: 130px;
  height: 30px;
  font-weight: bold;
  font-size: medium;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.5s;
  box-shadow: $standardShadow;
}
.user-cause-delete-button:hover {
  background-color: $irrigateFontColor;
  color: $irrigateErrorColor;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}