.contact-container {
  min-width: 100vh;
  margin: auto;
}

.contact-title {
  min-width: 200vh;
  margin: 30px 0;
}

.contact-form-container {
  width: 100vh;
  margin: auto;
}

.formLabel input, textarea {
  width: 60%;
  border: solid 1px grey;
  border-top: none;
  border-left: none;
  border-right: none;
}
.formLabel input:focus, textarea:focus {
  background-color: none;
  outline: none;
}

.formLabel textarea {
  height: 20vh;
}