.contact-container {
  min-width: 100vh;
  margin: auto;
}

.contact-title {
  min-width: 200vh;
  margin: auto;
}

.contact-form-container {
  width: 100vh;
  margin: auto;
}

.formLabel input, textarea {
  width: 60%;
}

.formLabel textarea {
  height: 20vh;
}