.irrigate-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $site-width;
  margin: 0 auto 10px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  height: 70px;
}
.category-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $site-width;
  margin: 0 auto 10px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  height: 70px;
}
.filter-title-container{
  margin: auto 0;
}
.filter-and-logo-container{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  outline: none;
  color: $causeFontColor;
}
.filter-and-logo-container:hover{
  color: $irrigateBackground;
}
.filter-and-logo-container-active{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-bottom: 5px solid darkgreen;
  color: darkgreen;
  outline: none;
  /*transition: 0.2s ease-in-out;*/
  height: 73px;
}
.cause-filter-logo{
  width: 40px;
  height: 40px;
  margin: auto 5px auto 0px;
  cursor: pointer;
}
.causes-list-filter-title{
  color: $irrigateBackground;
  font-weight: bold;
  cursor: default;
}
.causes-list-filter-name{
  margin: auto;
  font-size: 18px;
  font-weight: 600;
}
.causes-list-filter-name:hover{
  color: $irrigateBackground;
  cursor: pointer;
}