.formContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2%;
  border: 1px solid darkgrey;
  border-radius: 15px;
  background-color: white;
  transition: 1s;
  width: 40%;
}

.irrigateForm {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: left;
  width: 100%;
}

.irrigateForm input, label {
  margin: 3px 0;
}

.formTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.closeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: 400;
}
.closeButton:hover {
  cursor: pointer;
}

.formLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: normal;
}

.file-input {
  width: 70%;
}

.irrigateFormButton {
  margin: 30px auto 0 auto;
}

.form-result {
  text-align: center;
  font-weight: 600;
}

.form-result-error {
  text-align: center;
  font-weight: 600;
}

.delete-container {
  display: flex;
  justify-content: space-between;
  min-width: 100vh;
}

.delete-label {
  margin: 30px 0;
}

.deleteFormButton {
  position: relative;
  margin: auto 0;
  padding: 0 0 0 0;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: medium;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.5s;
  box-shadow: $standardShadow;
}
.deleteFormButton:hover{
  background-color: $irrigateFontColor;
  color: $irrigateErrorColor;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.deleteFormButtonConfirm {
  margin: auto;
}

.cancel-button {
  position: relative;
  margin: 5% auto;
  padding: 0 0 0 0;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: medium;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.5s;
  box-shadow: $standardShadow;
}
.cancel-button:hover{
  background-color: $irrigateFontColor;
  color: $irrigateBackground;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-form {
  position: absolute;
  width: 35%;
  height: 45%;
  background: white;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.confirmation-button-container {
  display: flex;
  justify-content: center;
}