.introduction{
  width: 100%;
  height: 300px;
  display: flex;
  background: #FFFFFF;
  border: 0 transparent;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(145deg,green,orange);
  border-image-slice: 1;
  padding-top: 0px;
}
.introduction-container{
  width: 100%;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
}
.introduction-left{
  /*margin: 0 5% 0 0;*/
  text-align: center;
  width: 45%;
}
.introduction-right{
  text-align: center;
  width: 45%;
}
.introduction-right-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.introduction-button{
  position: relative;
  margin: 0 auto;
  padding: 0 0 0 0;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: medium;
  background-color: $irrigateBackground;
  color: $irrigateFontColor;
  // border: 1px solid $irrigateBackground;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.5s;
  box-shadow: $standardShadow;
}
.introduction-button:hover{
  background-color: $irrigateFontColor;
  color: $irrigateBackground;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.introduction-button-superfluid{
  position: relative;
  margin: 0 0 0 0;
  padding: 1px 0 0 1px;
  width: 200px;
  height: 49px;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.5s;
  box-shadow: $standardShadow;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.introduction-button-superfluid:hover{
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.superfluid-logo{
  border-radius: 5px;
}
.superfluid-logo-phrase{
  padding-top: 8px;
}
.display-form-add-cause-button{
  position: relative;
  // transform: translateX(-50%);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 250px;
  height: 50px;
  font-weight: bold;
  font-size: medium;
  background-color: $irrigateBackground;
  color: $irrigateFontColor;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.5s;
  box-shadow: $standardShadow;
}
.display-form-add-cause-button:hover{
  background-color: $irrigateFontColor;
  color: $irrigateBackground;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.demo-warning {
  position: relative;
  background-color: orange;
  color: black;
  font-weight: 600;
  margin: 0;
  width: 100%;
  left: 0;
  text-align: center;
}