/*COLORS*/
$irrigateBackground: darkgreen;
$background-primary: darkgreen;
$background-secondary: #477843;
$irrigateBackground: darkgreen;
$irrigateFontColor: beige;
$irrigateDarkFontColor: #4F4F4F;
$irrigateFontColorStandard: rgba(0, 0, 0, 0.8);
$irrigateErrorColor: red;
$causeListWidth: 1110px;
$causeFontColor: #454545;
$standardShadow: 3px 3px 10px 0px grey;

header {
	background: linear-gradient(45deg, $background-secondary, $background-primary);
}

.brand-container {
  color: $irrigateFontColor;
}

.header-link{
  color: $irrigateFontColor;
}

.header-button{
  background-color: transparent;
  color: $irrigateFontColor;  
}

.walletContainer {
  color: $irrigateFontColor;
}

.introduction-left-title, .introduction-right-title {
  color: $irrigateBackground;
}

.formTitle * {
  color: $irrigateBackground;
}

.contact-title {
  color: $irrigateBackground;
}

.about-title {
  color: $irrigateBackground;
}

.form-label {
  color: $irrigateFontColorStandard;
}

.form-result {
  color: $irrigateBackground;
}

.form-result-error {
  color: $irrigateErrorColor;
}


.delete-label {
  color: $irrigateBackground;
}

.cancel-button {
  background-color: $irrigateBackground;
  color: $irrigateFontColor;
}

.deleteFormButton {
  background-color: $irrigateErrorColor;
  color: $irrigateFontColor;
}

.user-cause-delete-button {
  background-color: $irrigateErrorColor;
  color: $irrigateFontColor;
}

footer {
	background: linear-gradient(45deg, $background-primary, $background-secondary);
  color: $irrigateFontColor;
}