@import './base/base';
@import './base/color';

@import './components/layout';
@import './components/header';
@import './components/brand';
@import './components/introduction';
@import './components/filter';
@import './components/list';
@import './components/forms';
@import './components/contact';
@import './components/about';
@import './components/account';
@import './components/footer';

.app-container{
	height: 100%;
}

.page-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50vh;
	width: 100vh;
}